@charset "utf-8";
/* CSS Document */

/* GENERAL - MOBILE FIRST */
html, body{
	background-color:#66769b;
	margin:2%;
	font-family: 'Special Elite', cursive;
	color:#3e3d3d;
}

/* hoofdmenu */
nav{
	margin-left:0;
	padding:0;}

nav ul{
	margin:0;
	padding:0;
}
nav ul li{
	list-style-type:none;
	background-color:#70b09f;
	display:block;
	padding:0.25em;
	height:1.5em;
}
nav ul li a{
	text-decoration:none;
	color:inherit;
	font-weight:bold;
	display:block;	
}
#hoofdmenu ul li a:hover, #hoofdmenu ul li a:active {
	text-decoration:none;
	color:white;
}
nav ul li:nth-child(2){
	background-color:#b86b84;
}
nav ul li:nth-child(3){
	background-color:#f5e560;
}
nav ul li:nth-child(4){
	background-color:#5845e6;
}
nav ul li:nth-child(5){
	background-color:#fdbb66;
}


/* LAYOUT */
h1{
	text-shadow:#3B5582 5px 5px 10px;}
	





/* html, body, article, section, header, footer{
	border:dotted red;
} */